target/
build/
.idea/
.gradle/
.svn/
*.iml
*.swp
*.log
*.db
logs/
LOG**
.DS_Store
.project
.settings/
.classpath
.factorypath
config/
node_modules/# Temporary backup files created on 2026-04-10
*.java.bak
